# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/
.build/
dist/
build/

# Virtual env
.venv/
venv/

# Tools / cache
.ruff_cache/
.mypy_cache/
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
repo-tree.txt
scripts/*.bak.*
